/* GENERAL */
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --main-color: #3bc9db;
  --second-color: #2b8a3e;
  /* #0ca678 */
  --third-color: #adb5bd;
  --text-color: #868e96;
  --text-shadow: 0 0 0.1rem #868e96;
  --text-shadow-h: 0 0 0.5rem #0c8599;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #212529;
}
/* #212529 */

header {
  margin: 1rem 14.4rem;
  /* position: sticky;
  top: 1rem; */
}
main {
  margin: 0 14.4rem;
}
footer {
  text-align: center;
}
nav {
  display: flex;
  max-width: 100%;
  /* justify-content: space-between; */
  cursor: pointer;
}
section {
  margin-bottom: 8rem;
}
h2 {
  font-size: 6.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--main-color);
  text-shadow: var(--text-shadow-h);
  text-align: center;
}
h3 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  color: var(--main-color);
  text-shadow: var(--text-shadow-h);
}
/* NAVIGATION */
#logo {
  height: 6rem;
  width: 6rem;
  fill: transparent;
  stroke: var(--main-color);
  align-self: center;
  filter: drop-shadow(0 0 0.3rem #0c8599);
  cursor: none;
}
nav a:link,
nav a:visited {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--main-color);
  text-shadow: var(--text-shadow-h);
  flex-grow: 1;
  padding: 2rem 0;
  transition: all 0.5s;
}
nav a:hover,
nav a:active {
  transform: scale(1.1);
}
/* HERO  */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-text {
  font-size: 1.6rem;

  margin: 12.8rem 0;
  align-self: flex-start;
  text-align: left;
}
.ht1 {
  color: var(--main-color);
  text-shadow: 0 0 0.2rem var(--main-color);
}
.ht2 {
  color: #eee;
  /* text-shadow: 0 0 0.1rem #eee; */
}
.ht2,
.ht3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.ht3 {
  color: var(--third-color);
  text-shadow: var(--text-shadow);
}
.ht4 {
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

.skills {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-auto-columns: max-content;
  justify-items: center;
  align-items: center;
  gap: 3.2rem;
}
.skills h3 {
  grid-column: 1/5;
  grid-row: 1;
  margin: 0;
}

.skill-name {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}
.skills svg {
  width: 10rem;
  height: 10rem;
  fill: transparent;
  stroke: var(--main-color);
  stroke-width: 1rem;
  justify-self: flex-start;
  filter: drop-shadow(0 0 0.1rem #0c8599);
}
#html .cls-1,
#css .cls-1,
#git .cls-1 {
  fill: var(--second-color);
}
#english .cls-3 {
  fill: var(--second-color);
}
/* PROJECTS SECTION */
.projects-title {
  margin-bottom: 4.8rem;
}
.projects_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.4rem;
}
.project {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.project_min {
  /* max-width: 40rem; */
}
.project_min-img {
  width: 100%;
  border-radius: 0.9rem;
  box-shadow: 0 0 0.8rem var(--main-color);
}
.project_descr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project_title {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

.project_links {
  display: flex;
  gap: 2.4rem;
}

.project_link-eye {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #111;
  transition: all 0.5s;
}
.project_link-eye:hover,
.project_link-eye:active {
  transform: scale(1.2);
  stroke: var(--main-color);
  filter: drop-shadow(0 0 0.3rem #0c8599);
}
.project_link-github {
  width: 2.4rem;
  height: 2.4rem;
  fill: #111;
  transition: all 0.5s;
}
.project_link-github:hover,
.project_link-github:active {
  transform: scale(1.2);
  fill: var(--main-color);
  filter: drop-shadow(0 0 0.3rem #0c8599);
}

/* ROADMAP SECTION */

.roadmap-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}
.roadmap_main-line {
  grid-column: 3;
}
.roadmap_left-line {
  grid-column: 2;
}
.roadmap_right-line {
}
.roadmap_middle-left-line {
}
.roadmap_middle-right-line {
}
.roadmap_text {
  /*  */
  border-bottom: 3px solid red;
  /* padding: 4.8rem 3rem 0 3rem; */
  padding: 2rem 2.4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0.3rem solid var(--third-color);
  /* box-shadow: 0 0 0.5rem #0c8599; */
  border-radius: 0.9rem;
  color: var(--text-color);
}
.roadmap_date {
  font-size: 3.2rem;
  font-weight: 700;
  color: #eee;
}
.roadmap_in-progress {
  padding: 2.4rem 3rem;
  font-size: 1.6rem;
  border: 0.5rem solid var(--main-color);
  box-shadow: 0 0 0.5rem #0c8599;
  font-weight: 600;
}
.finished {
  border: 0.5rem solid #51cf66;
  color: var(--main-color);
  font-size: 1.2rem;
  text-shadow: 0 0 3px var(--text-shadow-h);
  font-weight: 600;
  letter-spacing: 1.5px;
}
.roadmap-title {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  margin-bottom: 4.8rem;
}
.roadmap_line-vertical {
  width: 0.3rem;
  height: 3rem;
  margin: 0 auto;
  background-color: var(--third-color);
  /* box-shadow: 0 0 0.5rem #0c8599; */
}
.finished_line {
  width: 0.5rem;
  background-color: #51cf66;
}

/* CONTACT */
#contact {
  /* margin: 0 350px; */
  padding: 0 15rem;
  margin-bottom: 15rem;
  text-align: center;
}

#contact p {
  text-align: center;
  font-size: 2.4rem;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  padding: 4.8rem 0;
}
#contact a:link,
#contact a:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--main-color);
  text-align: center;
  display: inline-block;
  /* height: 50px;
  width: 50px; */
  border: 0.2rem solid var(--main-color);

  border-radius: 0.9rem;
  padding: 1.6rem 4.8rem;
  margin: 0 auto;
  transition: all 0.3s;
}
#contact a:hover,
#contact a:active {
  background-color: rgba(59, 200, 219, 0.1);
  box-shadow: 0 0 0.5rem #0c8599;
}
/* FOOTER */

footer a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 3rem;
  transition: all 0.3s;
}
footer a:hover {
  transform: scale(1.05);
  color: var(--main-color);
}
.top {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  width: 4rem;
  height: 4rem;
  border: 0.2rem solid var(--main-color);
  box-shadow: 0 0 0.5rem #0c8599;
  stroke: var(--second-color);
  border-radius: 50%;
  transition: all 0.2s;
}
.top:hover {
  transform: scale(1.2);
}
.profiles {
  list-style-type: none;
  position: fixed;
  left: 6rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.profiles::after {
  content: "";
  width: 0.2rem;
  height: 8rem;
  margin: 0 auto;
  background-color: var(--main-color);
  box-shadow: 0 0 0.5rem #0c8599;
}
.logos {
  width: 3rem;
  height: 3rem;
  fill: var(--third-color);
  transition: all 0.5s;
}
.logos:hover {
  transform: scale(1.5);
  fill: var(--main-color);
  filter: drop-shadow(0 0 0.3rem #0c8599);
}
/* CREATED SPECIALLY FOR JAVASCRIPT */
.roadmap_chevron {
  height: 2.4rem;
  position: absolute;
  right: -2.4rem;
  stroke: #3bc9db;
  cursor: pointer;
}
.fold2021,
.fold_q1-2022 {
  display: block;
}
.unfold2021,
.unfold_q1-2022 {
  display: none;
}
.roadmap-grid div {
  display: flex;
  align-items: center;
  position: relative;
}
.hide_q4-2021,
.hide_q1-2022 {
  display: block;
}
